.capston {
    display: flex;
}

.modal-blog.modal,
.modal-blog.overlay {
    overflow: scroll;
}

.capston .heading h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.capston .modal-grid {
    display: flex;
}

.capston .heading h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 200%;
    color: black;
}

.capston .caps img {
    float: right;
    margin-left: 50px;
    margin-top: 50px;
}

.capston .modal-content {
    display: flex;
}

@media screen and (min-width: 312px) and (max-width: 768px) {
    .capston .modal-grid {
        display: flex;
        flex-direction: column;
    }
    .capsotn .modal-content {
        display: flex;
        flex-direction: column;
    }
}
