@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

.btn_shadow {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    padding: 18px 18px;
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
    text-align: center;
}

/*------------popup--------*/
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}

.overlay {
    background-color: #ecf0f3;
}
.modal-content {
    position: absolute;
    top: 0%;
    left: 8%;
    line-height: 1.4;
    background: #f0f3f5;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 85%;
    min-width: 60%;
    z-index: 9999;
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.modal-text {
    padding: 0 100px 0 50px;
}
.modal-text h1 {
    margin: 20px 0 20px 0;
    font-size: 30px;
}
.modal-text p {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 25px;
}
.modal-text button {
    margin-right: 20px;
    color: #ff014f;
}
.modal-text button i {
    margin-left: 10px;
}
.modal-text button.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 0 0;
    font-size: 20px;
}
.modal-text button.close-modal i {
    margin: 0;
}
/*------------popup--------*/
@media (max-width: 768px) {
    .modal,
    .modal .modal-img {
        margin: 50px 0 50px 0;
    }
    .modal-content {
        flex-direction: column;
    }
    .modal .right,
    .modal .left {
        padding: 0;
    }
}

/* .btn_shadow:hover {
    background: #ede7e9;
    transform: translateY(-10px);
} */

/* .columns {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 20px 10px 40px 10px;
}

.clumns_items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* CSS flex 참고 : https://studiomeal.com/archives/197
css grid 참고: https://studiomeal.com/archives/533 */
